<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="website">Tentang Badminton</h1>

            <ul>
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Artikel</a></li>
                <li><a href="#">Galeri</a></li>
                <li><a href="#">About Me</a></li>
            </ul>
        </div>

        <div class="banner">

        </div>

        <div class="content">
            <h2>Kevin Sanjaya Sukamuljo</h2>
            <p>
                Kevin Sanjaya Sukamuljo adalah salah satu atlet bulutangkis yang menjadi andalan Indonesia. Saat, dia menduduki ranking 1 dunia untuk sektor ganda putra bersama pasangannya Marcus Fernaldi Gideon. Mereka telah menduduki ranking 1 dunia selama lebih dari
                3 tahun lamanya. Bersama Marcus, Kevin telah memenangkan 28 turnamen internasional.
            </p>
            <p>
                Kevin Sanjaya memulai karir badmintonnya sejak dia berumur 7 tahun. Ia berasal dari klub Djarum. Awalnya, ia bermain di sektor tunggal putra tetapi pelatih melihat bakatnya ada pada sektor ganda.
            </p>
            <p>
                Pada kompetisi tingkat junior, Kevin pernah meraih medali silver di sektor ganda campuran bersama dengan Masita Mahmudin.
            </p>
        </div>

        <div class="footer">
            <p class="ps">==ayo dukung atlet andalan kita==</p>
        </div>
    </div>
</body>

</html>
